{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid"
  style="font-family: 'Baskervville', serif; font-size:large;background-color:black;color:white;">
  <h2 class="text-center">Travel the world through the eyes of photograher</h2>
  <p class="text-center"> <small>Welcome to gallery application that display photos</small>  </p>

</div>
<div class="container-fluid">
  <div class="container">

    <div class="card-columns">
      {% for image in images %}
      <div class="card" data-toggle="modal" data-target="#{{image.id}}">
        <img alt="{{image.name}}" class="card-img" src="{{image.image.url}}">
      </div>
      <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content modalcard">
            <div class="modal-header" style="font-family: 'Libre Caslon Display', serif;">
              <h5 class="modal-title" id="imageheader">{{image.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="font-family: 'Libre Caslon Display', serif;">
              <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid">
              <br>
              <p>Description:{{image.description}}</p>
              <p>category:{{image.category}}</p>
              <p>location:{{image.location}}</p>
            </div>
            <div class="modal-footer" style="font-family: 'Libre Caslon Display', serif;">
              <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">
              <button class="btn btn-outline-info btn-sm" onclick="copyLink('{{image.id}}.url')">Copy</button>
              <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}